<% provide(:title, "Home") %>
		<table border="1" width="100%" style="border-width: 0px">
			<tr>
				<td style="border-style: none; border-width: medium">&nbsp;<p align="center">
				welcome to our temporary main page</p>
				<p>&nbsp;</td>
			</tr>
		</table>