<table border="1" width="80%" style="border-width: 2px" bordercolor="#FFCC00">
							<tr>
								<td style="border-style: none; border-width: medium" bgcolor="#C0C0C0">&nbsp;</td>
								<td style="border-style: none; border-width: medium" width="100%" height="40">
								<font face="Yu Gothic UI Semilight">&nbsp;Manage 
								your products.</font></td>
							</tr>
							<tr>
								<td style="border-style: none; border-width: medium" bgcolor="#C0C0C0">&nbsp;</td>
								<td style="border-style: none; border-width: medium" width="100%" height="40">
								<font face="Yu Gothic UI Semilight">&nbsp;Add a 
								new product.</font></td>
							</tr>
							<tr>
								<td style="border-style: none; border-width: medium" bgcolor="#C0C0C0">&nbsp;</td>
								<td style="border-style: none; border-width: medium" width="100%" height="40">
								<font face="Yu Gothic UI Semilight">&nbsp;Your 
								account balance.</font></td>
							</tr>
							<tr>
								<td style="border-style: none; border-width: medium" bgcolor="#C0C0C0">&nbsp;</td>
								<td style="border-style: none; border-width: medium" width="100%" height="40">
								<font face="Yu Gothic UI Semilight">&nbsp;Purchased 
								Products</font></td>
							</tr>
							<tr>
								<td style="border-style: none; border-width: medium" bgcolor="#C0C0C0">&nbsp;</td>
								<td style="border-style: none; border-width: medium" width="100%" height="40">
								<font face="Yu Gothic UI Semilight">&nbsp;Sold 
								Products.</font></td>
							</tr>
							<tr>
								<td style="border-style: none; border-width: medium" bgcolor="#C0C0C0">&nbsp;</td>
								<td style="border-style: none; border-width: medium" width="100%" height="40">
								<font face="Yu Gothic UI Semilight">&nbsp;Send a 
								Feedback</font></td>
							</tr>
						</table>