<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  <% if current_user.admin? && !user.admin?(false) %>
    | <%= link_to "Make admin", user, method: :make_admin,
                                  data: { confirm: "This user will be admin, are you sure?" } %>
  <% end %>
</li>