<%= link_to "Back to categories", categories_path %>

<h3><%= @category.name %></h3>
<p><%= @category.description %></p>

<% Product.where(category_id: @category.id).each do |product| %>
<li> <%= product.name %> </li>
<% end %>