<!-- Start Footer -->
		<table border="1" width="100%" style="border-width: 0px" cellspacing="0" cellpadding="0">
			<tr>
				<td style="border-bottom:4px solid #000000; " bgcolor="#808080">
				<font face="Yu Gothic UI Semilight">copyright © 2016, All rights 
				reserved.<br>
				This footer is temporary and will be updated before submission.</font></td>
			</tr>
		</table>
		<!-- End Footer -->