<!-- Start Header -->
		<table border="1" width="100%" style="border-width: 0px" cellspacing="0" cellpadding="0">
			<tr>
				<td style="border-style: none; border-width: medium">
				<table border="1" width="100%" style="border-width: 0px" cellspacing="0" cellpadding="0">
					<tr>
						<td style="border-top: 4px solid #000000" colspan="2" bgcolor="#FFCC00" height="40">
						<table border="1" width="100%" style="border-width: 0px">
							<tr>
								<td style="border-style: none; border-width: medium">
								<p align="right">
								<font face="Yu Gothic UI Semilight" size="2">
									<%=image_tag("cart.png", alt: "Shopping Cart")%>
								Shopping Cart <b>|</b> Login </font></td>
							</tr>
						</table>
						</td>
					</tr>
					<tr>
						<td style="border-style: none; border-width: medium" width="25%">
						<%=image_tag("logo.png", alt: "Buzzit")%></td>
						<td style="border-style: none; border-width: medium" width="75%">
						<br>
						<br>
						<br>
						<br>
						<br>
&nbsp;</td>
					</tr>
					<tr>
						<td style="border-style: none; border-width: medium" colspan="2" height="60" bgcolor="#FFF4CA">
						<table border="1" width="100%" style="border-width: 0px">
							<tr>
								<td style="border-style: none; border-width: medium" width="35%">
								<table border="1" style="border-width: 0px">
									<tr>
										<td style="border-style: none; border-width: medium">
										<%=image_tag("department_list.png", alt: "List All Departments")%></td>
										<td style="border-style: none; border-width: medium">
										<font face="Yu Gothic UI Semilight">&nbsp;Shop 
										All Departments</font></td>
									</tr>
								</table>
								</td>
								<td style="border-style: none; border-width: medium">&nbsp;</td>
								<td style="border-style: none; border-width: medium" width="35%">
								<table border="1" width="100%" style="border-width: 0px" cellpadding="0">
									<tr>
										<td style="border-style: none; border-width: medium">
										<input type="text" name="T1" size="20" style="border:2px solid #C0C0C0; height: 40; width:100%"></td>
										<td style="border-style: none; border-width: medium" width="30%" bgcolor="#CEE1FF">
										<p align="center"><b>
										<font face="Yu Gothic UI Semilight" size="2">
										Search</font></b></td>
									</tr>
								</table>
								</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		<!-- End Header -->